.root{
  display: flex;
  flex-direction:column;
	width:600px;
  margin-left: 400px ;
	margin-top:40px;
}

.id {
  display: inline-block;
  float: left;
  margin-left: 24px;
  composes: text text_type_digits-default from global;
}
.time{
  float: right;
  display: inline-block;
  margin-right: 24px;
  composes: text text_type_main-default text_color_inactive from global;
  }

.wrapper{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.name{
  float: left;
  margin-left: 24px;
  margin-top: 24px;
  min-width: 500px;
  composes: text text_type_main-medium from global;
}
.status{
  float: left;
  margin-left: 24px;
  margin-top: 8px;
 composes: text text_type_main-default from global;
}
.feed::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}
.feed::-webkit-scrollbar-thumb {
    background-color: #8585AD;
	border: 3px solid #8585AD;
	width: 8px;
}
.order{
	width:536px;
	background-color:#1C1C21;
	border-radius:40px;
	padding:24px;
	list-style-image: none;
}
.circles{
	list-style-type: none;
	position:relative;
	float:left;
	clear:both;
	padding-left:38px;
	margin-top:24px;
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.circles li{
	list-style-type: none;
	display: inline-block;
}
.circle {
  width: 56px;
  height: 56px;
  position:relative;
  border: 2px solid #801AB2;
  background-color:  #1C1C21;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  margin-left:-14px;
}
.circle::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.circle img {
  display: inline-block;
  vertical-align: middle;
  margin-top:-85px;
}
.priceWrapper{
	display:flex;
	position:relative;
	float:right;
	margin-top:40px;
	justify-content: center;
}
.price{
	margin-right:8px;
  composes: text text_type_digits-default from global;
}
