.header{
  display: flex;
  justify-content: center;
  background-color: #1C1C21;
}
.roott{
  display: flex;
  justify-content:center;
}
.root{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: 1240px;

}
.left{
display: flex;

composes: mt-10 from global;
}
.rigth{
  display: flex;
}